node_modules
.env.example
.env
db.js

# asire .gitignore genyen sa yo:
ni .gitignore -ItemType File -Force
@"
node_modules/
.env
.env.*
uploads/
src/uploads/
!src/uploads/.gitkeep
dist/
build/
.vscode/
.DS_Store
Thumbs.db
"@ | Out-File .gitignore -Encoding UTF8




